
body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

.sidebar .sidebar-content {
    background-color: #004466;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar .sidebar-content h1 {
    color: #ffffff;
}

.stButton>button {
    background-color: #007acc;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border: none;
    width: 100%;
}

.stTextInput>div>div>input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar .sidebar-content {
    background-color: #004466;
    color: white;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-container img {
    width: 50px; 
    margin-right: 10px;
}

.logo-container h1 {
    font-size: 24px; 
    margin: 0;
    color: white;
    font-weight: bold;
}